body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.App {
  text-align: center;
  /* margin: 0 2em; */
}

.App-logo {
  height: 40px;
}

.App-header {
  background-color: #222;
  height: 10vh;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: start;
  color: #fff;
}

.App-title {
  font-size: 2em;
  margin-left: 1em;
}

.App-intro {
  font-size: large;
}

#scene {
  height: 90vh;
  /* border: #222 1px solid; */
}

a-scene {
  height: 100% !important;
}

a-scene[aframe-inspector-removed-embedded] {
  width: 100vh;
  left: -30%;
}
.ace-github .ace_print-margin {
  background: #fff !important;
}

#sidebar, .components{
  width: 400px !important;
}

.components .row{
  margin-left: 5px;
}

.params {
  margin-bottom: 1em;
}

button.btn {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
  margin: 4px;
}
.btn-group{
  margin: 2px;
}
input, label {
  text-transform: capitalize;
}